/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@import url('https://fonts.googleapis.com/css?family=Barrio');

#board {
  margin-top: 20px;
}

#message-image {
  margin-top: 20px;
  img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: auto;
    max-height: 900px;
  }
}

.playing-card {
  height: 50px;
  animation-duration: .5s;
}

#message-title {
  animation-duration: .5s;
}

#battlefield {
  min-height: 70px;
  h4 {
    display: none;
  }
}

@media screen and (min-width: 768px){
  .playing-card {
    height: 100px;
  }

  #battlefield {
    h4 {
      display: block;
    }
  }
}

.brand-logo {
  font-family: 'Barrio', cursive;
}
